extends layout

block content
  h1=title
  form(method='POST' action='')
    div.form-group
      label(for='name') Item name:
      input#name.form-control(type='text' placeholder=(item===undefined ? 'Name of Item' : item.name) name='name' required='true' value=(undefined===item ? '' : item.name) )
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='text' name='description' value=(undefined===item ? '' : item.description) )
    div.form-group
      // convert these inputs to numbers
      label(for='price') Price:
      input#price.form-control(type='text' name='price' value=(undefined===item ? '' : item.price) )
    div.form-group
      label(for='quantity') Quantity Available:
      input#quantity.form-control(type='text' name='quantity' value=(undefined===item ? '' : item.quantity) )
    div.form-group
      label(for='portion') Portion Size:
      input#portion.form-control(type='text' name='portion' value=(undefined===item ? '' : item.portion) )
    div.form-group
      label(for="producetype") Produce Type: #{item.type[0].name}
      select#producetype.form-control(type="select", placeholder="", name='producetype' required="false")
          if item
            for produce in producetypes
             option(value=produce._id) #{produce.name}
            //- option(value=item.name selected=(item.name)) #{item.type[0].name}
          else
            for produce in producetypes
             option(value=produce._id) #{produce.name}
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg